appnope==0.1.4
asttokens==3.0.0
backcall==0.2.0
blinker==1.8.2
click==8.1.8
comm==0.2.2
debugpy==1.8.14
decorator==5.2.1
executing==2.2.0
flask==3.0.3
greenlet==3.1.1
importlib-metadata==8.5.0
ipykernel==6.29.5
ipython==8.12.3
itsdangerous==2.2.0
jedi==0.19.2
jinja2==3.1.6
jupyter-client==8.6.3
jupyter-core==5.8.1
MarkupSafe==2.1.5
matplotlib-inline==0.1.7
nest-asyncio==1.6.0
numpy==1.24.4
packaging==25.0
pandas==2.0.3
parso==0.8.4
pexpect==4.9.0
pickleshare==0.7.5
platformdirs==4.3.6
prompt-toolkit==3.0.51
psutil==7.0.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure-eval==0.2.3
pygments==2.19.1
python-dateutil==2.9.0.post0
pytz==2025.2
pyzmq==26.4.0
six==1.17.0
sqlalchemy==2.0.41
stack-data==0.6.3
tornado==6.4.2
traitlets==5.14.3
typing-extensions==4.13.2
tzdata==2025.2
wcwidth==0.2.13
werkzeug==3.0.6
zipp==3.20.2
